<!-- start: BREADCRUMB -->
<!-- <div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.ELEMENTS">FORM ELEMENTS</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div> -->
<!-- end: BREADCRUMB -->

<!-- start: ALTERNATIVE EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="addpracticeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Add Practice Admin</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form" autocomplete="false">
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control underline input-lg" ng-model="first_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control underline" ng-model="last_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" placeholder="Email" class="form-control underline input-sm" ng-model="email" >
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control underline input-sm" ng-model="password">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Address" class="form-control underline input-sm" ng-model="address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone Number" class="form-control underline input-sm" ng-model="phone_number">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="city" class="form-control underline input-sm" ng-model="city">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="State" class="form-control underline input-sm" ng-model="state">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Country" class="form-control underline input-sm" ng-model="country">
                                        </div>


                                        <div class="panel-heading">
                                            <h5 class="panel-title">Access Rights</h5>
                                        </div>
                                        <div class="form-group">
                                            <multiselect
                                                ng-model="access_rights"
                                                options="c.name for c in access_right"    
                                                data-multiple="true"                  
                                                scroll-after-rows="5"                 
                                                ms-header="Select Access Right"
                                                width="273px">
                                           </multiselect>
                                        </div>
                                       
                                        
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Associate to a Company</h5>
                                        </div>
                                        <div class="form-group">
                                            <multiselect
                                                ng-model="associate_company"
                                                options="c.short_name for c in companies"    
                                                data-multiple="true"                  
                                                scroll-after-rows="5"                 
                                                ms-header="Select Company"
                                                width="273px">
                                           </multiselect>
                                        </div>    
                                        
                                        <div class="form-group">
                                            <button type="submit" ng-click="submit()" class="btn btn-wide btn-o btn-primary">
                                                Submit
                                            </button>
                                        </div>    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: ALTERNATIVE EXAMPLE -->


