<!-- start: BREADCRUMB -->
<!-- <div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.ELEMENTS">FORM ELEMENTS</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div> -->
<!-- end: BREADCRUMB -->

<!-- start: ALTERNATIVE EXAMPLE -->
<div class="container-fluid container-fullw" ng-controller="addreceptionistCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Add Receptionist</h5>
                                </div>
                                <div class="panel-body">
                                    <form role="form" autocomplete="false">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control underline input-lg" value="{{name}}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control underline">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" placeholder="Email" class="form-control underline input-sm" >
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control underline input-sm">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Address" class="form-control underline input-sm">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone Number" class="form-control underline input-sm">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" data-ng-click="submit()" class="btn btn-wide btn-o btn-primary">
                                                Submit
                                            </button>
                                        </div>    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: ALTERNATIVE EXAMPLE -->


