<table ng-table="tableParams" class="table table-striped">
							<thead>
							<tr>
								<th ng-repeat="column in todos" ng-show="column.visible" class="text-center sortable" ng-class="{
                      				'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                      				'sort-desc': tableParams.isSortBy(column.field, 'desc')
                    				}"
									ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
									{{column.title}}
								</th>
								<th>
									action
								</th>
							</tr>
							</thead>


							<tr ng-repeat="user in $data | filter:query | orderBy: 'Name'  ">

								<td ng-repeat="column in todos" ng-show="column.visible" >
									{{user[column.field][column.subfield]||  user[column.field]}}
								</td>
								<td>
									<button class="btn btn-primary btn-xs ti-settings" ng-click="open(user.filepath)">

									</button>
								</td>
							</tr>
						</table>