

<!-- start: BREADCRUMB -->
<!-- <div class="breadcrumb-wrapper" ng-controller="navCtrl">
	<h4 class="mainTitle no-margin"  >{{name}}</h4>
	<h4 class="mainTitle no-margin"  >sda12121</h4>
	<span class="mainDescription">overview &amp; stats </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div> -->
<!-- end: BREADCRUMB -->


<!-- start: TABLE WITH SORTING -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<h5 class="over-title margin-bottom-15">Table <span class="text-bold">with sorting</span></h5>
					<!-- /// controller:  'ngTableCtrl2' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
					<div ng-controller="ngTableCtrl2">
						<div class="row margin-bottom-10">
							<div class="col-md-12" uib-dropdown>
								<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
									Clear sorting
								</button>

								<button class="btn btn-primary btn-xs ti-layout-column2 pull-right dropdown-toggle" uib-dropdown-toggle style="padding: 10px;margin-right: 5px" >

								</button>

								<ul class="dropdown-menu pull-right" role="menu" >
									<li class="checkbox clip-check check-info checkbox-inline" ng-repeat="column in todos">
										<input type="checkbox" ng-change="func(this,column.visible)"  id={{column.title}} ng-model="column.visible">
										<label for={{column.title}}>
											{{column.title}}
										</label>
										<!--</div>-->
									</li>

								</ul>

							</div>
						</div>
						<form class="form-inline">
							<input ng-model="query" type="text"
								   placeholder="Filter by" autofocus>
						</form>

						<table ng-table="tableParams" class="table table-striped ">
							<thead>
							<tr ui-sortable="sortableOptions" ng-model="todos" >
								<th ng-repeat="column in todos | limitTo: 7:0 " style="cursor: move;" ng-show="column.visible" class="text-center " ng-class="{
                      				'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                      				'sort-desc': tableParams.isSortBy(column.field, 'desc')
                    				}"
									ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
									{{column.title}}
								</th>
								<th>
									action
								</th>
								
							</tr>
							</thead>
							<tbody ng-repeat="user in $data | filter:query | orderBy: 'Name' " >
								<tr>
									<td ng-repeat="column in todos | limitTo: 7:0 " ng-show="column.visible" >
													
										{{user[column.field][column.subfield] ||  user[column.field]}}
									</td>
									<td>
										<input type=button class="btn btn-primary btn-sm" id="editRowBtn{{user.task_id}}"
                                                       ng-click="setEditId(user.task_id)" value="View">
                                        <button class="btn btn-primary btn-sm" ng-click="openmodel(user.task_id)">Ttranscribe/Edit       </button>
									</td>
								</tr>
								<tr ng-show="editId===user.task_id" ng-if="editId===user.task_id" >
									<td colspan="3">
										<table class="table no-bg">
										
											<thead>
												<tr ui-sortable="sortableOptions" ng-model="todos" >
													<th ng-repeat="column in todos | limitTo: 3:7 " style="cursor: move;" ng-show="column.visible" class="text-center " ng-class="{
										           	'sort-asc': tableParams.isSortBy(column.field, 'asc'),
										            'sort-desc': tableParams.isSortBy(column.field, 'desc')
										                    				}"
													ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
													{{column.title}}
													</th>
													<th>
														action
													</th>											
								<!-- </tr> -->
										    </thead>
										    <!-- <tbody ng-repeat="user in $data"> -->
												
												<tr ng-repeat="taskfiles in user.task_files | filter:query | orderBy: 'Name'" ng-if="editId==user.task_id" >
													<td ng-repeat="column in todos | limitTo:3:7"  ng-show="column.visible" >
													
														{{taskfiles[column.field][column.subfield] ||  taskfiles[column.field]}}
													</td>
													<td>
														<button class="btn btn-primary btn-xs ti-settings" ng-click="open(taskfiles.filepath)">

														</button>
													</td>
											    </tr>
											<!-- </tbody>     -->
										 </table>
									 </td>	
                                 </tr>
                            </tbody>					
						</table>

						<!-- modal html for action button start -->

						<script type="text/ng-template" id="myModalContent.html" data-backdrop="static">
							<div class="modal-header">
								// <audio id="myVideo" src="{{pathi}}" ng-model="myAudio" width="500" controls>

								// </audio>
							</div>
							<div class="modal-body">
							
								// <textarea froala ng-model="myHtml"></textarea>
								// <!--<textarea class="fr-view" ng-model="myHtml" ></textarea>-->
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" ng-click="ok()">OK</button>
								<button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
							</div>
						</script>
						<!--modal html for action button end-->

						<!-- modal html for transcriber and qa button start -->

						<script type="text/ng-template" id="myModalContent1.html" data-backdrop="static">
							<div class="modal-header">
								<h2><b>HPI</b></h2>
								<audio id="myVideo" src="assets/views/song.mp3" ng-model="hpi_audio" style="width: 800px;" loop controls>

								</audio>
							</div>
							<div class="modal-body">

								<textarea froala ng-model="hpi"></textarea>
								<!--<textarea class="fr-view" ng-model="hpi" ></textarea>-->
							</div>

							<div class="modal-header"></div>
							
							<div class="modal-header">
								<h2><b>ROS</b></h2>
								<audio id="myVideo" src="assets/views/song.mp3" ng-model="ros_audio" style="width: 800px;" loop controls>

								</audio>
							</div>
							<div class="modal-body">

								<textarea froala ng-model="ros"></textarea>
								<!--<textarea class="fr-view" ng-model="ros" ></textarea>-->
							</div>
							
							<div class="modal-header"></div>
							
							<div class="modal-header">
								<h2><b>CC</b></h2>
								<audio id="myVideo" src="assets/views/song.mp3" ng-model="cc_audio" style="width: 800px;" loop controls>

								</audio>
							</div>
							<div class="modal-body">

								<textarea froala ng-model="cc"></textarea>
								<!--<textarea class="fr-view" ng-model="cc" ></textarea>-->
							</div>

							<div class="modal-header"></div>
							
							<div class="modal-header">
								<h2><b>HX</b></h2>
								<audio id="myVideo" src="assets/views/song.mp3" ng-model="hx_audio" style="width: 800px;" loop controls>

								</audio>
							</div>
							<div class="modal-body">

								<textarea froala ng-model="hx"></textarea>
								<!--<textarea class="fr-view" ng-model="hx" ></textarea>-->
							</div>

							<div class="modal-header"></div>
							
							<div class="modal-header">
								<h2><b>Plan</b></h2>
								<audio id="myVideo" src="assets/views/song.mp3" ng-model="plan_audio" style="width: 800px;" loop controls>

								</audio>
							</div>
							<div class="modal-body">

								<textarea froala ng-model="plan"></textarea>
								<!--<textarea class="fr-view" ng-model="plan" ></textarea>-->
							</div>





							<div class="modal-footer">
								<button class="btn btn-primary" ng-click="ok()">OK</button>
								<button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
							</div>
						</script>
						<!--modal html for transcriber and qa button end-->



					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: TABLE WITH SORTING -->

