<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">Doctor <span class="text-bold">List</span></h5>
                    <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                    <div ng-controller="listpatientCtrl">
                        <form class="form-inline">
                            <input ng-model="query" type="text"
                                   placeholder="Filter by" autofocus>
                        </form>
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
                                    Clear sorting
                                </button>
                            </div>
                        </div>
                        
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table">
                                <tbody ng-repeat="p in $data | filter:query">
                                    <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'First Name'" sortable="'first_name'">{{p.first_name}}</td>
                                        <td class="rowTd" data-title="'Last Name'" sortable="'last_name'">{{p.last_name}}</td> 
                                        <td class="rowTd" data-title="'Address'" sortable="'address'">{{p.address}}</td>

                                        <td class="rowTd" data-title="'City'" sortable="'city'">{{p.city}}</td>
                                        <td class="rowTd" data-title="'State'" sortable="'state'">{{p.state}}</td>

                                        <td class="rowTd" data-title="'Country'" sortable="'country'">{{p.country}}</td>
                                        <td class="rowTd" data-title="'Phone Number'" sortable="'phone'">{{p.phone}}</td>
                                        <td class="rowTd" data-title="'Date of Birth'" sortable="'date_of_birth'">{{p.date_of_birth}}</td>
                                        <td class="rowTd" data-title="'Associate to a Doctor'" sortable="'doctor'">{{p.doctor}}</td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                                <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
                                                       ng-click="openmodelpatient(p.id)">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <script type="text/ng-template" id="myModalContentpatient.html" data-backdrop="static">
                                <div class="modal-header">
                                    <h3>Edit Patient</h3>
                                </div>
                                <div class="modal-body" ng-show="showLoader">
                                    <img src="assets/images/default.gif" style=" margin: 0px 0px 0px 280px"> 
                                </div>
                                <div class="modal-body" ng-show="showform">
                                    <form role="form" autocomplete="false">
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control underline input-lg" ng-model="first_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control underline" ng-model="last_name">
                                        </div>

                                        <div class="form-group">
                                            <input type="date" placeholder="Date of Birth" class="form-control underline" ng-model="do_b">
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="Address" class="form-control underline input-sm" ng-model="ad_dresss">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone Number" class="form-control underline input-sm" ng-model="phone__number">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="city" class="form-control underline input-sm" ng-model="ci_ty">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="State" class="form-control underline input-sm" ng-model="st_ate">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Country" class="form-control underline input-sm" ng-model="co_untry">
                                        </div>

                                        <div class="panel-heading">
                                            <h5 class="panel-title">Associate to a Doctor</h5>
                                        </div>
                                        <div class="form-group">
                                            <multiselect
                                                ng-model="selected_associate_doctors"
                                                options="c.username for c in doctors"    
                                                data-multiple="true"                  
                                                scroll-after-rows="5"                 
                                                ms-header="Select Doctor"
                                                width="273px">
                                           </multiselect>
                                        </div>        
                                    </form>
                                </div>
                                    
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->