start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">List <span class="text-bold">Tranco Admin</span></h5>
                    <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                    <div ng-controller="listadminCtrl">
                        <form class="form-inline">
                            <input ng-model="query" type="text"
                                   placeholder="Filter by" autofocus>
                        </form>
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
                                    Clear sorting
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table">
                                <tbody ng-repeat="p in $data | filter:query">
                                    
                                    <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'First Name'" sortable="'username'">{{p.username}}</td>
                                        <td class="rowTd" data-title="'Last Name'" sortable="'last_name'">{{p.last_name}}</td> 
                                        <td class="rowTd" data-title="'Email'" sortable="'email'">{{p.email}}</td>
                                        <td class="rowTd" data-title="'Address'" sortable="'address'">{{p.address}}</td>

                                        <td class="rowTd" data-title="'City'" sortable="'city'">{{p.city}}</td>
                                        <td class="rowTd" data-title="'State'" sortable="'state'">{{p.state}}</td>

                                        <td class="rowTd" data-title="'Country'" sortable="'country'">{{p.country}}</td>
                                        <td class="rowTd" data-title="'Phone Number'" sortable="'phone_number'">{{p.phone_number}}</td>
                                        <td class="rowTd" data-title="'Access Rights'" sortable="'permission'">{{p.permission}}</td>
                                        <td class="rowTd" data-title="'Associate to a Company'" sortable="'companies'">{{p.companies}}</td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                                <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
                                                       ng-click="openmodeltranco(p.id)">
                                            </div>
                                        </td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                                <!-- <md-button class="btn btn-danger btn-o btn-sm"  
                                                       ng-click="showConfirm($event)"> delete </md-button> -->
                                                       <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
      Confirm Dialog
    </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <script type="text/ng-template" id="myModalContenttrancoadmin.html" data-backdrop="static">
                                <div class="modal-header">
                                    <h3>Edit Tranco Admin</h3>
                                </div>
                                <div class="modal-body" ng-show="showLoader">
                                    <img src="assets/images/default.gif" style=" margin: 0px 0px 0px 280px"> 
                                </div>
                                <div class="modal-body" ng-show="showform">
                                    <form role="form" autocomplete="false">
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control underline input-lg" ng-model="first_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control underline" ng-model="last_name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" placeholder="Email" class="form-control underline input-sm" ng-model="email" >
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" placeholder="Address" class="form-control underline input-sm" ng-model="address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone Number" class="form-control underline input-sm" ng-model="phone_number">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="city" class="form-control underline input-sm" ng-model="city">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="State" class="form-control underline input-sm" ng-model="state">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Country" class="form-control underline input-sm" ng-model="country">
                                        </div>


                                        <div class="panel-heading">
                                            <h5 class="panel-title">Access Rights</h5>
                                        </div>
                                        <div class="form-group">
                                            <multiselect
                                                ng-model="selected_access_right"
                                                options="c.name for c in access_right"    
                                                data-multiple="true"                  
                                                scroll-after-rows="5"                 
                                                ms-header="Select Access Right"
                                                width="273px">
                                           </multiselect>
                                        </div>
                                       
                                        
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Associate to a Company</h5>
                                        </div>
                                        <div class="form-group">
                                            <multiselect
                                                ng-model="selected_associate_company"
                                                options="c.short_name for c in companies"    
                                                data-multiple="true"                  
                                                scroll-after-rows="5"                 
                                                ms-header="Select Company"
                                                width="273px">
                                           </multiselect>
                                        </div>    
                                    </form>
                                </div>
                                    
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE